@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: 'Inter Tight', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder {
    text-align:center;
}

input:-moz-placeholder {
    text-align:right;
}

a {
    font-weight: 500;
    color: #D81E5B;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    background-size: cover;
    background-image: linear-gradient(to bottom, #EB5E55, #3A3335);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #D81E5B;
    color: #FDF0D5;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

table {
    width: 80vw;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    border-radius: 10px;
    background-color: #000;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #333333;
}

.nav {
    background-color: black;
    color: #FDF0D5;
    width: 50%;
    max-width: 700px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.nav ul {
    display: flex;
    margin-left: auto;
    flex-direction: row;
}

.nav-title {
    font-size: 2rem;
    font-weight: bold;
    color: #FDF0D5;
    display: block;
    margin-bottom: 10px;
}

.nav-title a {
    color: #D81E5B;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.nav-item button {
    background-color: #EB5E55;
    color: #FDF0D5;
    font-size: 1rem;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-item button:hover {
    background-color: #D81E5B;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.active {
    font-weight: 700;
}

.table {
    width: 80vw;
    table-layout: fixed;
}

.board {
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.board-display {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    padding: 10px 0;
    gap: 30px;
    box-sizing: border-box;
}

.swimlane {
    flex: 2;
    max-width: 30%;
    min-width: 280px;
    height: 100%;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.todo {
    background-color: #FDC5F5;
}

.in.progress {
    background-color: #F7AEF8;
}

.done {
    background-color: #EA7AF4;
}

.ticket-card {
    text-align: center;
    background-color: #B388EB;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 0.1em solid black;
}

.ticket-card h3 {
    margin: 0;
    font-size: 1.2em;
}

.container {
     margin: auto;
    width: 100%;
     height: 90%;
}

#create-ticket-link {
    background-color: black;
    display: block;
    margin-left: auto;
}


.form {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form > h1, .form > label {
    color: black;
    font-size: large;
}

.form > input {
    width: 200px;

}

.form > label {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.form button {
    margin-top: 10%;
}

.form textarea {
    resize: both;
    min-height: 30px;
    min-width: 30px;
}

.editBtn {
    background-color: black;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    margin: 5px;
    cursor: pointer;
    transition: border-color 0.25s;
}

.deleteBtn {
    background-color: black;
    font-weight: 500;
    color: antiquewhite;
    text-decoration: inherit;
    margin: 5px;
}

.deleteBtn:hover {
    color: #535bf2;
}

.login-notice {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

@media (max-width: 1024px) and (min-width: 901px) {
    .nav {
        width: 80%;
        padding: 20px;
        position: relative;
    }

    #create-ticket-link {
        display: block;
        margin: 0 auto 0 auto;
        text-align: center;
        width: auto;
        padding: 12px 24px;
        font-size: 1rem;
        position: relative;
        z-index: 10;
    }

    .board-display {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
        max-width: 95vw;
        gap: 15px;
    }

    .swimlane {
        flex: 1;
        max-width: 30%;
        min-width: 280px;
    }
}

@media (min-width: 751px) and (max-width: 900px) {
    .nav {
        width: 40%;
    }

    .board-display {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 50%;
        gap: 25px;
    }

    .swimlane {
        flex: 1;
        max-width: 30%;
    }

    .form {
        margin: 30vh auto;
    }
}

@media (min-width: 601px) and (max-width: 750px) {
    .nav {
        width: 40%;
        padding: 20px;
    }

    .board-display {
        margin: 5vh auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .swimlane {
        flex: 1;
        max-width: 40%;
    }

}

@media (min-width: 375px) and (max-width: 600px) {
    .nav {
        width: 60%;
        padding: 20px;
    }

    .board-display {
        margin: 5vh auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .swimlane {
        flex: 1;
        max-width: 40%;
    }

   #create-ticket-link {
       display: block;
       margin: 13vh 0 0 0;
       text-align: center;
       width: 70%;
       padding: 12px 20px;
       font-size: 1.1rem;
       position: relative;
       z-index: 10;
    }

    .form {
        margin: 30vh auto;
    }
}

@media (max-width: 430px) and (min-width: 375px) {
    .nav {
        width: 95%;
        padding: 15px;
        position: relative;
    }

    #create-ticket-link {
        display: block;
        margin: 15px auto;
        text-align: center;
        width: 80%;
        padding: 12px 20px;
        font-size: 1.1rem;
        position: relative;
        z-index: 10;
    }

    .board-display {
        display: flex;
        flex-direction: column; /* Stacks items */
        align-items: center;
        width: 100%;
        max-width: 95vw;
        gap: 15px;
    }

    .swimlane {
        width: 90%;
        min-width: 300px;
    }

    button {
        font-size: 1rem;
        padding: 10px 18px;
    }

    .form input,
    .form textarea {
        width: 100%;
    }
}

@media (max-width: 374px) {
    .nav {
        width: 95%;
        padding: 15px;
        position: relative;
    }

    #create-ticket-link {
        display: block;
        margin: 15px auto;
        text-align: center;
        width: 80%;
        padding: 12px 20px;
        font-size: 1.1rem;
        position: relative;
        z-index: 10;
    }

    .board-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 95vw;
        gap: 15px;
    }

    .swimlane {
        width: 90%;
        min-width: 300px;
    }

    button {
        font-size: 1rem;
        padding: 10px 18px;
    }

    .form input,
    .form textarea {
        width: 100%;
    }
}

